extends layout
block content
    #slider.owl-carousel.owl-theme
        each item, i in items
            .items
                img(src="img/laptop/"+items[i], alt="", srcset="")
    #chapternav
        #chapternav-container
            ul#menu-slider.owl-carousel.owl-theme
                each nav, i in navs
                    li.items
                        a(href="")
                            span.fa-stack.fa-2x
                                i.fa(class=navs[i])
                            span#chapternav-label= navs[i]
    br
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestiae minima qui ducimus ut! Recusandae nulla facere repudiandae nisi eligendi error fugit omnis earum beatae. Odit suscipit vitae nesciunt rerum?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, ab. Ad ut alias odio, corporis autem deleniti assumenda, cupiditate at doloribus quis quia hic suscipit fuga eveniet ipsa, illo accusantium!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In ducimus autem nisi! Tempore, debitis sunt ut ullam in accusantium voluptatibus nihil nemo quo ab dignissimos minus reiciendis? Minima, quibusdam commodi.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestiae minima qui ducimus ut! Recusandae nulla facere repudiandae nisi eligendi error fugit omnis earum beatae. Odit suscipit vitae nesciunt rerum?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, ab. Ad ut alias odio, corporis autem deleniti assumenda, cupiditate at doloribus quis quia hic suscipit fuga eveniet ipsa, illo accusantium!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In ducimus autem nisi! Tempore, debitis sunt ut ullam in accusantium voluptatibus nihil nemo quo ab dignissimos minus reiciendis? Minima, quibusdam commodi.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestiae minima qui ducimus ut! Recusandae nulla facere repudiandae nisi eligendi error fugit omnis earum beatae. Odit suscipit vitae nesciunt rerum?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, ab. Ad ut alias odio, corporis autem deleniti assumenda, cupiditate at doloribus quis quia hic suscipit fuga eveniet ipsa, illo accusantium!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In ducimus autem nisi! Tempore, debitis sunt ut ullam in accusantium voluptatibus nihil nemo quo ab dignissimos minus reiciendis? Minima, quibusdam commodi.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestiae minima qui ducimus ut! Recusandae nulla facere repudiandae nisi eligendi error fugit omnis earum beatae. Odit suscipit vitae nesciunt rerum?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, ab. Ad ut alias odio, corporis autem deleniti assumenda, cupiditate at doloribus quis quia hic suscipit fuga eveniet ipsa, illo accusantium!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In ducimus autem nisi! Tempore, debitis sunt ut ullam in accusantium voluptatibus nihil nemo quo ab dignissimos minus reiciendis? Minima, quibusdam commodi.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestiae minima qui ducimus ut! Recusandae nulla facere repudiandae nisi eligendi error fugit omnis earum beatae. Odit suscipit vitae nesciunt rerum?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, ab. Ad ut alias odio, corporis autem deleniti assumenda, cupiditate at doloribus quis quia hic suscipit fuga eveniet ipsa, illo accusantium!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In ducimus autem nisi! Tempore, debitis sunt ut ullam in accusantium voluptatibus nihil nemo quo ab dignissimos minus reiciendis? Minima, quibusdam commodi.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestiae minima qui ducimus ut! Recusandae nulla facere repudiandae nisi eligendi error fugit omnis earum beatae. Odit suscipit vitae nesciunt rerum?
    
        
            

